body {
  font-family: monospace;
}

h1 {
  color: #f3d80d;
  font-size: 24px;
  font-weight: 100px;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
li:first-letter {
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #0865df;
  border-radius: 5px;
  background: radial-gradient(
    circle at 50.3% 44.5%,
    rgb(116, 147, 179) 0%,
    rgb(62, 83, 104) 100.2%
  );
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: #f3d80d;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature.units {
  position: relative;
  font-size: 16px;
  top: -34px;
}
.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
