body {
  font-family: monospace;
}
.weather-app {
  max-width: 600px;
  margin: 30px auto;
  border: 1px solid #0865df;
  padding: 20px;
  border-radius: 5px;
}

h1 {
  font-size: 24px;
  font-weight: 100px;
  line-height: 28px;
  color: #878787;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}
